<div class="card">
  <div class="card-header">
   Listagem de Alunos:
  </div>
  <div class="card-body">
    <div class="content">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped">

        <!-- Position Column -->
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Nome </th>
          <td mat-cell *matCellDef="let aluno"> {{aluno.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CPF">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> CPF </th>
          <td mat-cell *matCellDef="let aluno"> {{aluno.cpf}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Telefone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Telefone </th>
          <td mat-cell *matCellDef="let aluno"> {{aluno.telefone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Endereço">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Endereço </th>
          <td mat-cell *matCellDef="let aluno"> {{aluno.endereco}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Ações">
          <th mat-header-cell *matHeaderCellDef > Ações </th>
          <td mat-cell *matCellDef="let aluno">
            <button mat-button class="btn btn-primary" (click)="editar(aluno)">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </div>
  <div class="container">
    <a routerLink="/alunoDetalhe">
      <button mat-fab color="primary" >
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>

</div>
